<hr />
<div class="row">
    <div class="col-md-11">
        <div class="panel panel-primary" id="panelMonthlyExceedings">
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Monthly Exceedings</h4>
                <div class="input-group">
                    <input id="inputSearchServices" type="search" ng-model="filterServices" class="form-control shortInputSearch" placeholder="Filter, search services..">
                    <div class="input-group-btn">
                        <button class="btn btn-primary" ng-click="search();"><i class="glyphicon glyphicon-search"></i></button>
                        <button class="btn btn-primary" ng-click="clearSearch();"><i class="glyphicon glyphicon-remove-sign"></i></button>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div ng-if="loadingExceedings">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4">
                        <i class="fa fa-refresh fa-5x fa-spin"></i> <label class="label label-primary">Loading services...</label>
                    </div>
                    <div class="col-xs-4"></div>
                </div>
                <h6>Services</h6>
                <table id="tblServices" class="table">
                    <thead>
                        <tr custom-nested-table-column column-names="columnNames">
                        </tr>
                    </thead>
                    <tbody data-toggle="collapse" data-target="#{{ service.id }}" data-parent="#tblServices" ng-repeat="service in services | orderBy : 'name'" ng-class="getExceedingBGColor(service)">
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>{{ service.current_scope }}</td>
                            <td>{{ service.current_effort }}</td>
                            <td>{{ service.exceeding }}</td>
                            <td>{{ service.billable }}</td>
                            <td>{{ service.active }}</td>
                        </tr>
                        <tr id="{{ service.id }}" class="sublinks collapse tableDefaultColor">
                            <td>
                                <ul>
                                    <li><a ng-href="#/exceedings/">Exceedings</a></li>
                                    <li><a ng-href="#/exceedings/">Exceedings</a></li>
                                    <li><a ng-href="#/exceedings/">Exceedings</a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="panel-footer">
                    <div class="text-center">
                        <custom-pager page="{{page}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="search(page)"></custom-pager>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>