<!--table id="tblServices" class="table">
    <thead>
        <!--<tr custom-nested-table-column column-names="service.scope_exceedings"></tr>
    </thead>
    <tbody ng-repeat="ex in exceedings | orderBy : 'id'">
        <tr>
            <td>{{ ex.id }}</td>
            <td>{{ ex.requested_date }}</td>
            <td>{{ ex.scope }}</td>
            <td>{{ ex.current_effort }}</td>
            <td>{{ ex.finance_period.period_name }}</td>
            <td>{{ ex.scope_exceeding_status.status_name }}</td>
            <td>{{ ex.update_timestamp }}</td>
            <td>{{ ex.updated_by }}</td>
            <td>{{ ex.exceeding_comments }}</td>
        </tr>
    </tbody>
</table -->